name: CI/CD Pipeline

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          cd backend/app
          pip install -r requirements.txt

      - name: Run tests and coverage
        run: |
          cd backend/app
          pytest --maxfail=1 --disable-warnings -q --cov=.

      - name: Run lint
        run: |
          cd backend/app
          flake8 .
